In [84]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# Study data files

# Read the data and the study results

# Display the data table for preview

In [85]:
# Create the X and Y axis lists

In [86]:
# Plot the charts

In [87]:
# Add labels to X and Y axes :: Add title

In [88]:
# Set the limits for the X and Y axes

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
import numpy as np

# Study data files
census_csv = Path("resources/census_data_2016-2019.csv")

# Read the data and the study results
bankloans_df = pd.read_csv("C:\\Users\\hanna\\OneDrive\\Desktop\\github\\Project-1\\bankloans.csv")

# Display the data table for preview
bankloans_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [64]:
#Display cleaned data
bankloan_clean = bankloans_df.dropna()
bankloan_clean.count()

age         700
ed          700
employ      700
address     700
income      700
debtinc     700
creddebt    700
othdebt     700
default     700
dtype: int64

In [65]:
#Display 1 Values
highestdebt_df = bankloan_clean.sort_values(by= "debtinc", ascending=False)
highestdebt_df.head(15)

     age  ed  employ  address  income  debtinc   creddebt    othdebt  default
373   33   1      14        8      72     41.3  15.016680  14.719320      1.0
583   37   3      16       14      50     36.6   7.320000  10.980000      1.0
122   34   4       6        3      27     35.3   1.982448   7.548552      1.0
584   25   4       0        1      18     33.4   2.801592   3.210408      1.0
492   28   1       0        2      28     33.3   2.284380   7.039620      1.0
654   36   1      11        2      33     32.5   1.265550   9.459450      0.0
381   48   1      13       20      50     30.8   6.113800   9.286200      1.0
637   31   1       7       11      41     30.7   2.995706   9.591294      1.0
6     39   1      20        9      67     30.6   3.833874  16.668126      0.0
419   47   1      19        7      50     30.1   3.175550  11.874450      0.0
403   30   3       0        8      65     29.7   3.899610  15.405390      1.0
692   53   1       0       26      27     28.9   2.754459   5.048541      1.0
443   24   1       3        3      21     28.9   2.682498   3.386502      1.0
543   32   1       4        3      16     28.5   0.893760   3.666240      1.0
89    23   2       0        1      17     27.7   2.043706   2.665294      1.0

In [66]:
# Step 1: Categorize the age groups
age_ranges = [0, 30, 40, 50, float('inf')]
labels = ['genz', 'mill', 'genx', 'boom']

# Categorizing the data into age groups
highestdebt_df['age_group'] = pd.cut(highestdebt_df['age'], bins=age_ranges, labels=labels)

# Step 2: Calculate the average debtinc for each age group
average_debtinc_by_age_group = highestdebt_df.groupby('age_group')['debtinc'].mean()

print(average_debtinc_by_age_group)

age_group
genz    10.328512
mill    10.175704
genx    10.123649
boom    11.334615
Name: debtinc, dtype: float64

In [67]:
#Display Group data (Age and Income)
average_debtinc_by_age_group = bankloan_clean.groupby(["age"])["income"].unique()
average_debtinc_by_age_group

age
20                                             [17, 14]
21                         [16, 24, 25, 26, 18, 21, 20]
22             [24, 20, 16, 17, 14, 18, 19, 25, 35, 23]
23    [31, 21, 17, 19, 22, 34, 23, 16, 32, 25, 18, 4...
24    [28, 19, 21, 16, 18, 24, 15, 42, 29, 26, 14, 1...
25    [23, 32, 27, 35, 15, 33, 20, 18, 24, 22, 26, 1...
26    [37, 45, 14, 28, 27, 20, 22, 30, 35, 24, 25, 2...
27    [31, 16, 26, 23, 45, 33, 34, 56, 22, 30, 70, 3...
28    [26, 24, 23, 31, 34, 22, 30, 44, 29, 19, 16, 3...
29    [27, 42, 20, 17, 36, 19, 57, 24, 37, 22, 63, 3...
30    [22, 25, 33, 17, 27, 21, 39, 23, 15, 19, 65, 5...
31    [28, 45, 27, 22, 25, 44, 26, 21, 32, 31, 59, 4...
32    [54, 75, 28, 23, 18, 26, 20, 73, 15, 32, 38, 3...
33    [58, 55, 37, 27, 18, 32, 29, 21, 35, 40, 28, 2...
34    [59, 25, 21, 45, 65, 27, 79, 75, 47, 39, 33, 7...
35    [35, 42, 34, 29, 24, 37, 33, 40, 98, 105, 21, ...
36    [25, 49, 41, 39, 54, 26, 60, 23, 16, 28, 30, 8...
37    [29, 24, 23, 32, 75, 56, 54, 62, 18, 25, 33, 1...
38    [25, 54, 31, 41, 38, 21, 44, 22, 23, 34, 56, 5...
39    [67, 61, 52, 48, 69, 46, 113, 68, 60, 38, 27, ...
40    [55, 28, 100, 45, 73, 102, 57, 43, 116, 75, 35...
41    [176, 120, 25, 26, 44, 15, 52, 75, 43, 68, 135...
42    [41, 82, 121, 51, 31, 64, 25, 190, 48, 24, 30,...
43    [38, 72, 64, 26, 76, 60, 54, 45, 29, 83, 89, 4...
44              [88, 48, 74, 31, 33, 86, 129, 101, 113]
45    [69, 20, 50, 39, 37, 35, 51, 80, 52, 132, 91, ...
46    [20, 52, 35, 60, 144, 31, 99, 126, 21, 43, 15,...
47    [43, 26, 100, 51, 30, 129, 81, 52, 50, 221, 33...
48    [100, 45, 19, 113, 50, 27, 24, 30, 66, 59, 148...
49                                     [39, 51, 20, 79]
50                    [80, 47, 71, 36, 26, 60, 102, 23]
51                         [82, 120, 159, 166, 249, 44]
52                            [64, 24, 70, 76, 89, 234]
53                                 [50, 78, 61, 44, 27]
54                                  [28, 118, 120, 114]
55                                             [78, 40]
56                                                 [59]
Name: income, dtype: object

In [68]:
#Describe the Data
bankloan_clean[['age', 'income','debtinc']].describe()

              age      income     debtinc
count  700.000000  700.000000  700.000000
mean    34.860000   45.601429   10.260571
std      7.997342   36.814226    6.827234
min     20.000000   14.000000    0.400000
25%     29.000000   24.000000    5.000000
50%     34.000000   34.000000    8.600000
75%     40.000000   55.000000   14.125000
max     56.000000  446.000000   41.300000

In [ ]:
#x_axis = np.arange(len(bankloan_clean))
#tick_locations = [value+0.9 for value in x_axis]

#plt.bar(x_axis, bankloan_clean["debtinc"], color='r', alpha=0.1, align="edge")
#plt.xticks(tick_locations, bankloan_clean["income"], rotation="vertical")

In [71]:
# Grouping age into ranges
age_ranges = [0, 30, 40, 50, float('inf')]
labels = ['genz', 'mill', 'genx', 'boom']

# Categorizing the data into age ranges
bankloan_clean['age_range'] = pd.cut(bankloan_clean['age'], bins=age_ranges, labels=age_labels)

# Calculating the number of defaults in each age range
defaults_by_age_range = df.groupby('age_range')['default'].sum()

# Calculating the total number of entries in each age range
total_by_age_range = df.groupby('age_range').size()

# Calculate the percentage of defaults in each age range
percentage_defaults_by_age_range = (defaults_by_age_range / total_by_age_range) * 100

# Plotting the bar chart
plt.figure(figsize=(10, 6))
colors = ['green', 'red', 'orange', 'purple', 'blue', 'pink']

# Creating the bar chart
plt.bar(age_labels, percentage_defaults_by_age_range, color=colors)

# Adding labels and annotations
for x, y in enumerate(percentage_defaults_by_age_range):
    plt.text(x, y + 1, f"{y:.1f}%", ha='center', fontsize=12, fontweight='bold')

plt.xlabel('Age Range')
plt.ylabel('Percentage of Defaults')
plt.title('Percentage of Defaults by Age Range')
plt.ylim(0, 60)  # Adjust the y-axis limit to fit the data better
plt.grid(axis='y', linestyle='--', alpha=0.7)

plt.show()

ValueError: Bin labels must be one fewer than the number of bin edges

In [ ]:
# Add labels to X and Y axes :: Add title
#plt.title("INSERTa")
#plt.xlabel("INSERTb")
#plt.ylabel("INSERTc")

In [ ]:
# Set the limits for the X and Y axes