In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Study data files

# Read the data and the study results
bankloans_df = pd.read_csv("C:\\Users\\kingl\\Downloads\\Project 1\\bankloans.csv")
# Display the data table for preview
bankloans_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [3]:
#drop null data
cleaned = bankloans_df.dropna()
cleaned.tail()

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
695   36   2       6       15      27      4.6  0.262062  0.979938      1.0
696   29   2       6        4      21     11.5  0.369495  2.045505      0.0
697   33   1      15        3      32      7.6  0.491264  1.940736      0.0
698   45   1      19       22      77      8.4  2.302608  4.165392      0.0
699   37   1      12       14      44     14.7  2.994684  3.473316      0.0

In [4]:
# Create the X and Y axis lists
x_axis = np.arange(len(bankloans_df))
tick_locations = [value+0.4 for value in x_axis]

In [18]:
genz = cleaned.loc[(cleaned["age"] < 25)]
mill = cleaned.loc[(cleaned["age"] >= 25) & (cleaned["age"] < 35)]
genx = cleaned.loc[(cleaned["age"] >= 35) & (cleaned["age"] < 45)]
boom = cleaned.loc[(cleaned["age"] >= 45)]
genz

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
4     24   2       2        0      28     17.3  1.787436  3.056564      1.0
8     24   1       3        4      19     24.4  1.358348  3.277652      1.0
24    21   2       1        2      16     18.0  0.241920  2.638080      1.0
40    23   1       7        2      31      6.6  0.337590  1.708410      0.0
45    21   2       0        1      16      6.8  0.150144  0.937856      0.0
..   ...  ..     ...      ...     ...      ...       ...       ...      ...
674   24   2       4        4      20      3.7  0.324120  0.415880      0.0
681   20   1       4        0      14      9.7  0.200984  1.157016      1.0
683   21   1       1        1      16      6.3  0.141120  0.866880      0.0
690   24   2       0        5      16      7.3  0.024528  1.143472      0.0
693   22   3       0        2      20      4.7  0.219020  0.720980      0.0

[66 rows x 9 columns]

In [20]:
genz_group = genz.groupby(["age", "debtinc"])
genz_debt2inc = genz_group.mean()
genz_debt2inc

              ed  employ  address  income  creddebt   othdebt  default
age debtinc
20  2.3      3.0     0.0      1.0    17.0  0.043792  0.347208      0.0
    9.7      1.0     4.0      0.0    14.0  0.200984  1.157016      1.0
21  4.5      2.0     2.0      0.0    20.0  0.290700  0.609300      1.0
    6.3      1.0     1.0      1.0    16.0  0.141120  0.866880      0.0
    6.8      2.0     0.0      1.0    16.0  0.150144  0.937856      0.0
...          ...     ...      ...     ...       ...       ...      ...
24  16.1     1.5     1.5      1.0    14.5  0.579842  1.754659      1.0
    17.3     2.0     2.0      0.0    28.0  1.787436  3.056564      1.0
    19.1     2.0     3.0      1.0    24.0  2.172816  2.411184      0.0
    24.4     1.0     3.0      4.0    19.0  1.358348  3.277652      1.0
    28.9     1.0     3.0      3.0    21.0  2.682498  3.386502      1.0

[62 rows x 7 columns]

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,4))
plt.bar(x_axis, rain_df["Inches"], color='r', alpha=0.5, align="edge")
plt.xticks(tick_locations, rain_df["State"], rotation="vertical")
plt.show()

In [ ]:
# Set x and y limits
plt.xlim(-0.25, len(x_axis))
plt.ylim(0, max(rain_df["Inches"])+10)
plt.show()

In [ ]:
# Set a Title and labels
plt.title("Average Rain per State")
plt.xlabel("State")
plt.ylabel("Average Amount of Rainfall in Inches")
plt.show()

In [ ]:
# Save our graph and show the graph
plt.tight_layout()
plt.savefig("../Images/bankrisk.png")
plt.show()