In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# Study data files

# Read the data and the study results

# Display the data table for preview

In [2]:
# Create the X and Y axis lists

In [3]:
# Plot the charts

In [4]:
# Add labels to X and Y axes :: Add title

In [5]:
# Set the limits for the X and Y axes

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
import numpy as np

# Study data files
census_csv = Path("resources/census_data_2016-2019.csv")

# Read the data and the study results
bankloans_df = pd.read_csv("C:\\Users\\hanna\\OneDrive\\Desktop\\github\\Project-1\\bankloans.csv")

# Display the data table for preview
bankloans_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [7]:
#Display cleaned data
bankloan_clean = bankloans_df.dropna()
bankloan_clean.count()

age         700
ed          700
employ      700
address     700
income      700
debtinc     700
creddebt    700
othdebt     700
default     700
dtype: int64

In [13]:
#Show count of different groups
age_group_df.count()

NameError: name 'age_group_df' is not defined

In [10]:
#Display 1 Values
default_age = bankloan_clean.sort_values(by= "age", ascending=True)
default_age.head(15)

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
426   20   3       0        1      17      2.3  0.043792  0.347208      0.0
681   20   1       4        0      14      9.7  0.200984  1.157016      1.0
461   21   2       0        2      21     12.5  0.488250  2.136750      1.0
359   21   3       0        1      26      7.7  1.529528  0.472472      0.0
112   21   3       0        2      24      7.7  0.833448  1.014552      0.0
128   21   1       5        1      25      9.0  0.366750  1.883250      0.0
683   21   1       1        1      16      6.3  0.141120  0.866880      0.0
160   21   1       4        0      26      8.9  1.420796  0.893204      0.0
469   21   2       2        0      20      4.5  0.290700  0.609300      1.0
24    21   2       1        2      16     18.0  0.241920  2.638080      1.0
176   21   1       1        1      18     17.3  0.158814  2.955186      0.0
45    21   2       0        1      16      6.8  0.150144  0.937856      0.0
591   22   3       0        0      23      8.4  0.372876  1.559124      1.0
473   22   1       1        0      18      4.4  0.270072  0.521928      0.0
529   22   1       4        3      19     23.1  1.887270  2.501730      1.0

In [ ]:
#Seperate the age data into groups
#agegroup2_df = genz = bankloan_clean[(bankloan_clean["age"] < 25)]
#agegroup2_df = mill = bankloan_clean[(bankloan_clean["age"] >= 25) & (bankloan_clean["age"] < 35)]
#agegroup2_df = genx = bankloan_clean[(bankloan_clean["age"] >= 35) & (bankloan_clean["age"] < 45)]
#agegroup2_df = boom = bankloan_clean[(bankloan_clean["age"] >= 45)]
#agegroup2_df

In [ ]:
#Display Group data (Age and Income)
age_group_df = bankloan_clean.groupby(["income"])["age"].unique()
age_group_df

income
14                                  [26, 29, 22, 24, 20]
15                          [25, 41, 32, 30, 29, 24, 46]
16                  [27, 21, 24, 36, 28, 22, 23, 25, 32]
17                      [29, 23, 30, 36, 22, 20, 28, 24]
18     [32, 33, 21, 24, 27, 25, 29, 37, 22, 23, 38, 2...
                             ...
234                                                 [52]
242                                                 [43]
249                                                 [51]
253                                                 [47]
446                                                 [43]
Name: age, Length: 114, dtype: object

In [ ]:
#Drop duplicates
cleanage3_df = agegroup_df.drop_duplicates()

#Drop nulls
cleanage3_df = agegroup_df.dropna()

#Display
print(cleanage3_df)

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
12    52   1      24       14    64.0     10.0  3.929600  2.470400        0
14    48   1      22       15   100.0      9.1  3.703700  5.396300        0
21    47   1      17       21    43.0      5.6  0.587552  1.820448        0
26    45   2       9       26    69.0      6.7  0.707319  3.915681        0
30    45   1       3       15    20.0      2.1  0.105000  0.315000        0
..   ...  ..     ...      ...     ...      ...       ...       ...      ...
675   48   1      30        8   101.0      6.4  1.874560  4.589440        0
691   47   1      31        8   253.0      7.2  9.308376  8.907624        0
692   53   1       0       26    27.0     28.9  2.754459  5.048541        1
694   48   2       6        1    66.0     12.1  2.315940  5.670060        0
698   45   1      19       22    77.0      8.4  2.302608  4.165392        0

[98 rows x 9 columns]

In [ ]:
#Display Age Group data:
#Default 0 more likely to pay
#Default 1 less likely to pay

age_group_df = bankloan_clean.groupby(["default"])["age"].unique()
age_group_df

default
0.0    [27, 40, 41, 39, 43, 36, 25, 52, 37, 48, 47, 2...
1.0    [41, 24, 36, 21, 28, 26, 23, 34, 46, 37, 29, 3...
Name: age, dtype: object

In [12]:
agegroup2_df.loc[:, 'age'] = agegroup2_df['age'].astype(int)
agegroup2_df.loc[:, 'income'] = agegroup2_df['income'].astype(float)
agegroup2_df.loc[:, 'debtinc'] = agegroup2_df['debtinc'].astype(float)(lambda x: 1 if x == 1 else 0)
agegroup2_df


import warnings
warnings.filterwarnings('ignore')

NameError: name 'agegroup2_df' is not defined

In [ ]:
#Describe the Data

agegroup2_df[['age', 'income','debtinc']].describe()

        age      income  debtinc
count  98.0   98.000000     98.0
mean    0.0   72.051020      0.0
std     0.0   49.905141      0.0
min     0.0   15.000000      0.0
25%     0.0   36.250000      0.0
50%     0.0   60.000000      0.0
75%     0.0   93.250000      0.0
max     0.0  253.000000      0.0

In [ ]:
#x_axis = np.arange(len(agegroup2_df))
#tick_locations = [value+0.9 for value in x_axis]

#plt.bar(x_axis, agegroup2_df["age"], color='r', alpha=0.1, align="edge")
#plt.xticks(tick_locations, agegroup2_df["income"], rotation="vertical")

In [ ]:
# Create the X and Y axis lists

In [ ]:
# Plot the charts

In [ ]:
# Add labels to X and Y axes :: Add title
#plt.title("INSERTa")
#plt.xlabel("INSERTb")
#plt.ylabel("INSERTc")

In [ ]:
# Set the limits for the X and Y axes