In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# Study data files

# Read the data and the study results

# Display the data table for preview

In [4]:
# Create the X and Y axis lists

In [5]:
# Plot the charts

In [6]:
# Add labels to X and Y axes :: Add title

In [7]:
# Set the limits for the X and Y axes

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
import numpy as np

# Study data files
census_csv = Path("resources/census_data_2016-2019.csv")

# Read the data and the study results
bankloans_df = pd.read_csv("C:\\Users\\hanna\\OneDrive\\Desktop\\github\\Project-1\\bankloans.csv")

# Display the data table for preview
bankloans_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [9]:
#Display cleaned data
bankloan_clean = bankloans_df.dropna()
bankloan_clean.count()

age         700
ed          700
employ      700
address     700
income      700
debtinc     700
creddebt    700
othdebt     700
default     700
dtype: int64

In [18]:
#Display Group data
age_group_df = bankloan_clean.groupby(["default"])["age"].unique()
age_group_df

default
0.0    [27, 40, 41, 39, 43, 36, 25, 52, 37, 48, 47, 2...
1.0    [41, 24, 36, 21, 28, 26, 23, 34, 46, 37, 29, 3...
Name: age, dtype: object

In [19]:
#Show count of age groups
age_group_df.count()

2

In [32]:
#Display 1 Values
default_age = bankloan_clean.sort_values(by= "default", ascending=False)
default_age.head(10)

     age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0     41   3      17       12     176      9.3  11.359392  5.008608      1.0
599   28   2       3        4      41     25.1   5.896743  4.394257      1.0
196   24   1       1        0      18      5.9   0.238950  0.823050      1.0
550   32   1       0        4      20      3.0   0.263400  0.336600      1.0
199   31   2       6        6      32     23.1   3.341184  4.050816      1.0
548   37   2       4       11      20     21.7   0.173600  4.166400      1.0
201   44   3       8       10      88      6.1   0.284504  5.083496      1.0
543   32   1       4        3      16     28.5   0.893760  3.666240      1.0
539   24   1       3        0      14     16.1   0.838488  1.415512      1.0
211   44   1       5        3      48      9.0   1.969920  2.350080      1.0

In [33]:
#Seperate the age data into groups
agegroup2_df = genz = bankloan_clean[(bankloan_clean["age"] < 25)]
agegroup2_df = mill = bankloan_clean[(bankloan_clean["age"] >= 25) & (bankloan_clean["age"] < 35)]
agegroup2_df = genx = bankloan_clean[(bankloan_clean["age"] >= 35) & (bankloan_clean["age"] < 45)]
agegroup2_df = boom = bankloan_clean[(bankloan_clean["age"] >= 45)]
agegroup2_df

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
12    52   1      24       14      64     10.0  3.929600  2.470400      0.0
14    48   1      22       15     100      9.1  3.703700  5.396300      0.0
21    47   1      17       21      43      5.6  0.587552  1.820448      0.0
26    45   2       9       26      69      6.7  0.707319  3.915681      0.0
30    45   1       3       15      20      2.1  0.105000  0.315000      0.0
..   ...  ..     ...      ...     ...      ...       ...       ...      ...
675   48   1      30        8     101      6.4  1.874560  4.589440      0.0
691   47   1      31        8     253      7.2  9.308376  8.907624      0.0
692   53   1       0       26      27     28.9  2.754459  5.048541      1.0
694   48   2       6        1      66     12.1  2.315940  5.670060      0.0
698   45   1      19       22      77      8.4  2.302608  4.165392      0.0

[98 rows x 9 columns]

In [13]:
#x_axis = np.arange(len(bankloans_df))
#tick_locations = [value+0.9 for value in x_axis]

#plt.bar(x_axis, bankloans_df["age"], color='r', alpha=0.1, align="edge")
#plt.xticks(tick_locations, bankloans_df["income"], rotation="vertical")

In [14]:
# Create the X and Y axis lists

In [15]:
# Plot the charts

In [16]:
# Add labels to X and Y axes :: Add title
#plt.title("INSERTa")
#plt.xlabel("INSERTb")
#plt.ylabel("INSERTc")

In [17]:
# Set the limits for the X and Y axes