In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Study data files

# Read the data and the study results

# Display the data table for preview

In [ ]:
# Create the X and Y axis lists

In [ ]:
# Plot the charts

In [ ]:
# Add labels to X and Y axes :: Add title

In [ ]:
# Set the limits for the X and Y axes

In [6]:
bankloan_df = pd.read_csv("C:\\Users\\Karen Leswing\\Desktop\\github\\Project-1\\bankloans.csv")
bankloan_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [8]:
bankloan_clean= bankloan_df.dropna()
bankloan_clean.count()

age         700
ed          700
employ      700
address     700
income      700
debtinc     700
creddebt    700
othdebt     700
default     700
dtype: int64

In [17]:
default_age = bankloan_clean.sort_values(by= "default", ascending=False)
default_age.head(10)

     age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0     41   3      17       12     176      9.3  11.359392  5.008608      1.0
599   28   2       3        4      41     25.1   5.896743  4.394257      1.0
196   24   1       1        0      18      5.9   0.238950  0.823050      1.0
550   32   1       0        4      20      3.0   0.263400  0.336600      1.0
199   31   2       6        6      32     23.1   3.341184  4.050816      1.0
548   37   2       4       11      20     21.7   0.173600  4.166400      1.0
201   44   3       8       10      88      6.1   0.284504  5.083496      1.0
543   32   1       4        3      16     28.5   0.893760  3.666240      1.0
539   24   1       3        0      14     16.1   0.838488  1.415512      1.0
211   44   1       5        3      48      9.0   1.969920  2.350080      1.0

In [24]:
age_group_df= bankloan_clean.groupby(["default"])["age"].unique()
age_group_df

default
0.0    [27, 40, 41, 39, 43, 36, 25, 52, 37, 48, 47, 2...
1.0    [41, 24, 36, 21, 28, 26, 23, 34, 46, 37, 29, 3...
Name: age, dtype: object

In [25]:
age_group_df.count()

2

In [31]:
#separate the data by age
genz = bankloan_clean[(bankloan_clean["age"] < 25)]
mill = bankloan_clean[(bankloan_clean["age"] >= 25) & (bankloan_clean["age"] < 35)]
genx = bankloan_clean[(bankloan_clean["age"] >= 35) & (bankloan_clean["age"] < 45)]
boom = bankloan_clean[(bankloan_clean["age"] >= 45)]
genx

     age  ed  employ  address  income  debtinc   creddebt    othdebt  default
0     41   3      17       12     176      9.3  11.359392   5.008608      1.0
2     40   1      15       14      55      5.5   0.856075   2.168925      0.0
3     41   1      15       14     120      2.9   2.658720   0.821280      0.0
5     41   2       5        5      25     10.2   0.392700   2.157300      0.0
6     39   1      20        9      67     30.6   3.833874  16.668126      0.0
..   ...  ..     ...      ...     ...      ...        ...        ...      ...
682   36   4       1       17      30     11.5   0.324300   3.125700      0.0
685   35   1       7        5      39     16.1   1.701609   4.577391      1.0
686   35   3       1        4      20      7.9   0.853200   0.726800      0.0
695   36   2       6       15      27      4.6   0.262062   0.979938      1.0
699   37   1      12       14      44     14.7   2.994684   3.473316      0.0

[241 rows x 9 columns]